*~
.*.sw[ap]
*.tar.xz
*.o
m4
.deps
.libs
config.*
ABOUT-NLS
aclocal.m4
autom4te.cache
config
INSTALL
Makefile.in
Makefile
compile
configure
depcomp
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
po/POTFILES
po/Makefile.in.in
data/org.freedesktop.Tracker1.Miner.Media.service
data/tracker-miner-media.desktop
src/tracker-miner-media
